@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

body {
  font-family: 'Oswald', sans-serif;
}

p {
  padding: 10px;
  width: 80%;
  margin: 0 auto;
}

h1, h2 {
  width: 80%;
  margin: 25px auto 5px;
}

.header-image{
    position:relative;
 background:url('http://wallpapersonthe.net/wallpapers/b/3840x2160/3840x2160-shapes_justin_maller_facets_abstract-24637.jpg');
    background-size:cover;
    background-position: center;
    min-height:200px;
    padding-bottom:100px;
    overflow:hidden;
}

.header-image:after{
    content:'';
    position:absolute;
    bottom:0; left:0;
    border-left:70vw solid #fff;
    border-right:30vw solid #fff;
    border-top:120px solid transparent;
}

/* NAV-BAR */

.menu-list {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
}

.wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 2%;
}

.nav-bar {
  position: fixed;
  min-width: 100%;
  z-index: 999;
}

.fade-background {  
   background-color: #3591cc;
   background-color: rgba(255,255,255,1);
  webkit-box-shadow: 0 7px 5px -5px rgba(93, 93, 93, 0.85);
    -moz-box-shadow: 0 7px 5px -5px rgba(93, 93, 93, 0.85);
    box-shadow: 0 7px 5px -5px rgba(93, 93, 93, 0.85);
   -webkit-transition: background-color 1.5s;
    transition: background-color 1.5s;
  -webkit-transition: box-shadow 1.5s;
    transition: box-shadow 1.5s;
}

.fade-transparent {
   background-color: transparent;
   -webkit-transition: background-color 1s;
   transition: background-color 1s;
}

.text-fade-in {
  color: rgba(0,0,0,.8);
  -webkit-transition: color 1.5s;
  transition: color 1.5s;
}

.text-top {
  color: rgba(255,255,255,.8);
}

.logo {
  background-color: rgba(255,255,255,0);
  text-align: center;
  padding: 5px;
  font-size: 1.2em;
  text-transform: uppercase;
  box-sizing: border-box;
  display: inline-block;
  height: 45px;
  margin: 1em 0;
  width: 95px;
}

.logo-top {
  border: 3px solid #fff;
}


.logo-fade-in {
  border: 3px solid #000;
  -webkit-transition: border 1s;
  transition: border 1s;
}


.logo-text-top {
  color: #fff;
}

.logo-text-fade-in {
  color: #000;
  -webkit-transition: color 1s;
  transition: color 1s;
}

 .menu-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 50%;
}

.nav-link {
  letter-spacing: 0.3em;
  font-size: 1.1em;
  font-weight: 400;
  text-decoration: none;
  transition: all .2s ease;
}

.text-top:hover {
  color: rgba(255,255,255,1);
}

.text-fade-in:hover {
  color: rgba(0,0,0,1);
}
nav li {
  display: inline-block;
}
nav #menu-toggle {
  display: none;
}
nav .label-toggle {
  display: none;
}
nav .wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#menu-toggle {
  display: none;
}
  
.label-toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  
  .menu-list {
    background-color: #fff;
    width: 95%;
    margin: 0 auto;
    display: block;
    height: 0;
    list-style-type: none;
    opacity: 0;
    padding: 0;
    text-align: center;
    transition: all 1s ease;
    visibility: hidden;
  }
  
  .menu-list li {
    border-bottom: 2px solid #000;
    color: #000;
    display: block;
    max-width: 100%;
    font-size: 1.2em;
    padding: 1em 0;
}
  
  nav #menu-toggle:checked ~ ul {
    opacity: 1;
    height: auto;
    visibility: visible;
    padding-bottom: 10px;
  }
  
  nav .label-toggle {
    cursor: pointer;
    display: block;
    float: right;
    height: 35px;
    margin-top: 1em;
    width: 35px;
  }
  
  .hamburger-top {
    background: linear-gradient(to bottom, #fff 0%, #fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%, #fff 100%);
  }
  
  .hamburger-scroll {
    background: linear-gradient(to bottom, #000 0%, #000 20%, transparent 20%, transparent 40%, #000 40%, #000 60%, transparent 60%, transparent 80%, #000 80%, #000 100%);
  }
  
  nav .wrapper {
    display: block;
  }
  
  
}

